.git
.github
.turbo
.cursor
.pnpm-store
.vercel
.vscode

node_modules
**/node_modules

**/.next
**/.turbo
**/.nitro
**/.output
**/dist
**/coverage
**/.cache

*.log

.env
.env.*
**/.env
**/.env.*

**/.dockerignore
