{
  "openapi": "3.0.3",
  "info": {
    "title": "Unprice API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.unprice.dev",
      "description": "Production"
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 50,
      "maxInterval": 1000,
      "maxElapsedTime": 30000,
      "exponent": 1.5
    },
    "statusCodes": ["5XX"],
    "retryConnectionErrors": true
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "bearerFormat": "root key",
        "type": "http",
        "scheme": "bearer",
        "x-speakeasy-example": "UNPRICE_API_KEY"
      }
    },
    "schemas": {
      "ErrBadRequest": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["BAD_REQUEST"],
                "description": "A machine readable error code.",
                "example": "BAD_REQUEST"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/BAD_REQUEST"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrUnauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["UNAUTHORIZED"],
                "description": "A machine readable error code.",
                "example": "UNAUTHORIZED"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/UNAUTHORIZED"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrForbidden": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["FORBIDDEN"],
                "description": "A machine readable error code.",
                "example": "FORBIDDEN"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/FORBIDDEN"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["NOT_FOUND"],
                "description": "A machine readable error code.",
                "example": "NOT_FOUND"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/NOT_FOUND"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrConflict": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["CONFLICT"],
                "description": "A machine readable error code.",
                "example": "CONFLICT"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/CONFLICT"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrPreconditionFailed": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["PRECONDITION_FAILED"],
                "description": "A machine readable error code.",
                "example": "PRECONDITION_FAILED"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/PRECONDITION_FAILED"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrTooManyRequests": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["TOO_MANY_REQUESTS"],
                "description": "A machine readable error code.",
                "example": "TOO_MANY_REQUESTS"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/TOO_MANY_REQUESTS"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrInternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["INTERNAL_SERVER_ERROR"],
                "description": "A machine readable error code.",
                "example": "INTERNAL_SERVER_ERROR"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/INTERNAL_SERVER_ERROR"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/customer/reportUsage": {
      "post": {
        "operationId": "customers.reportUsage",
        "summary": "report usage",
        "description": "Report usage for a customer",
        "tags": ["customer"],
        "requestBody": {
          "description": "The usage to report",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "The customer ID",
                    "example": "cus_1H7KQFLr7RepUyQBKdnvY"
                  },
                  "featureSlug": {
                    "type": "string",
                    "description": "The feature slug",
                    "example": "tokens"
                  },
                  "usage": {
                    "type": "number",
                    "description": "The usage",
                    "example": 30
                  },
                  "idempotenceKey": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The idempotence key",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "The metadata",
                    "example": {
                      "action": "create",
                      "country": "US"
                    }
                  }
                },
                "required": ["customerId", "featureSlug", "usage", "idempotenceKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the report usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowed": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "usage": {
                      "type": "number"
                    },
                    "notifiedOverLimit": {
                      "type": "boolean"
                    },
                    "remaining": {
                      "type": "number"
                    },
                    "deniedReason": {
                      "type": "string",
                      "enum": [
                        "INVALID_USAGE",
                        "ERROR_SYNCING_ENTITLEMENTS_LAST_USAGE",
                        "FLAT_FEATURE_NOT_ALLOWED_REPORT_USAGE",
                        "ENTITLEMENT_OUTSIDE_OF_CURRENT_BILLING_WINDOW",
                        "ERROR_RESETTING_DO",
                        "RATE_LIMITED",
                        "ENTITLEMENT_NOT_FOUND",
                        "LIMIT_EXCEEDED",
                        "ENTITLEMENT_EXPIRED",
                        "ENTITLEMENT_NOT_ACTIVE",
                        "DO_NOT_INITIALIZED",
                        "INCORRECT_USAGE_REPORTING",
                        "ERROR_INSERTING_USAGE_DO",
                        "ERROR_INSERTING_VERIFICATION_DO",
                        "PROJECT_DISABLED",
                        "CUSTOMER_DISABLED",
                        "SUBSCRIPTION_DISABLED",
                        "FETCH_ERROR",
                        "SUBSCRIPTION_ERROR",
                        "ENTITLEMENT_ERROR",
                        "SUBSCRIPTION_EXPIRED",
                        "NO_DEFAULT_PLAN_FOUND",
                        "SUBSCRIPTION_NOT_ACTIVE",
                        "PHASE_NOT_CREATED",
                        "FEATURE_NOT_FOUND_IN_SUBSCRIPTION",
                        "CUSTOMER_NOT_FOUND",
                        "CUSTOMER_ENTITLEMENTS_NOT_FOUND",
                        "FEATURE_TYPE_NOT_SUPPORTED",
                        "PROJECT_DISABLED",
                        "CUSTOMER_DISABLED",
                        "PLAN_VERSION_NOT_PUBLISHED",
                        "PLAN_VERSION_NOT_ACTIVE",
                        "PAYMENT_PROVIDER_CONFIG_NOT_FOUND",
                        "ENTITLEMENT_EXPIRED",
                        "ENTITLEMENT_NOT_ACTIVE",
                        "CUSTOMER_SESSION_NOT_CREATED",
                        "CUSTOMER_SESSION_NOT_FOUND",
                        "PLAN_VERSION_NOT_FOUND",
                        "PAYMENT_PROVIDER_ERROR",
                        "SUBSCRIPTION_NOT_CREATED",
                        "CUSTOMER_NOT_CREATED",
                        "SUBSCRIPTION_NOT_CANCELED",
                        "CUSTOMER_PHASE_NOT_FOUND",
                        "CURRENCY_MISMATCH",
                        "BILLING_INTERVAL_MISMATCH",
                        "ENTITLEMENT_NOT_FOUND",
                        "SUBSCRIPTION_NOT_FOUND",
                        "INVALID_ENTITLEMENT_TYPE",
                        "NO_ACTIVE_PHASE_FOUND"
                      ]
                    }
                  },
                  "required": ["allowed"]
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrForbidden"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrNotFound"
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrConflict"
                }
              }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrPreconditionFailed"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrTooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrInternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customerId}/getEntitlements": {
      "get": {
        "operationId": "customers.getEntitlements",
        "summary": "get minimal entitlements",
        "description": "Get minimal entitlements for a customer",
        "tags": ["customer"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The customer ID",
              "example": "cus_1H7KQFLr7RepUyQBKdnvY"
            },
            "required": true,
            "name": "customerId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the get minimal entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "maxLength": 36
                      },
                      "featureSlug": {
                        "type": "string",
                        "maxLength": 64
                      },
                      "effectiveAt": {
                        "type": "number"
                      },
                      "expiresAt": {
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "required": ["id", "featureSlug", "effectiveAt", "expiresAt"]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrForbidden"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrNotFound"
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrConflict"
                }
              }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrPreconditionFailed"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrTooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrInternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/can": {
      "post": {
        "operationId": "customers.can",
        "summary": "can feature",
        "description": "Check if a customer can use a feature",
        "tags": ["customer"],
        "requestBody": {
          "description": "Body of the request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "The customer ID",
                    "example": "cus_1H7KQFLr7RepUyQBKdnvY"
                  },
                  "featureSlug": {
                    "type": "string",
                    "description": "The feature slug",
                    "example": "tokens"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "The metadata",
                    "example": {
                      "action": "create",
                      "country": "US"
                    }
                  },
                  "usage": {
                    "type": "number",
                    "description": "The usage to check feature access for",
                    "example": 100
                  }
                },
                "required": ["customerId", "featureSlug"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the can check",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allowed": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "deniedReason": {
                      "type": "string",
                      "enum": [
                        "INVALID_USAGE",
                        "ERROR_SYNCING_ENTITLEMENTS_LAST_USAGE",
                        "FLAT_FEATURE_NOT_ALLOWED_REPORT_USAGE",
                        "ENTITLEMENT_OUTSIDE_OF_CURRENT_BILLING_WINDOW",
                        "ERROR_RESETTING_DO",
                        "RATE_LIMITED",
                        "ENTITLEMENT_NOT_FOUND",
                        "LIMIT_EXCEEDED",
                        "ENTITLEMENT_EXPIRED",
                        "ENTITLEMENT_NOT_ACTIVE",
                        "DO_NOT_INITIALIZED",
                        "INCORRECT_USAGE_REPORTING",
                        "ERROR_INSERTING_USAGE_DO",
                        "ERROR_INSERTING_VERIFICATION_DO",
                        "PROJECT_DISABLED",
                        "CUSTOMER_DISABLED",
                        "SUBSCRIPTION_DISABLED",
                        "FETCH_ERROR",
                        "SUBSCRIPTION_ERROR",
                        "ENTITLEMENT_ERROR",
                        "SUBSCRIPTION_EXPIRED",
                        "NO_DEFAULT_PLAN_FOUND",
                        "SUBSCRIPTION_NOT_ACTIVE",
                        "PHASE_NOT_CREATED",
                        "FEATURE_NOT_FOUND_IN_SUBSCRIPTION",
                        "CUSTOMER_NOT_FOUND",
                        "CUSTOMER_ENTITLEMENTS_NOT_FOUND",
                        "FEATURE_TYPE_NOT_SUPPORTED",
                        "PROJECT_DISABLED",
                        "CUSTOMER_DISABLED",
                        "PLAN_VERSION_NOT_PUBLISHED",
                        "PLAN_VERSION_NOT_ACTIVE",
                        "PAYMENT_PROVIDER_CONFIG_NOT_FOUND",
                        "ENTITLEMENT_EXPIRED",
                        "ENTITLEMENT_NOT_ACTIVE",
                        "CUSTOMER_SESSION_NOT_CREATED",
                        "CUSTOMER_SESSION_NOT_FOUND",
                        "PLAN_VERSION_NOT_FOUND",
                        "PAYMENT_PROVIDER_ERROR",
                        "SUBSCRIPTION_NOT_CREATED",
                        "CUSTOMER_NOT_CREATED",
                        "SUBSCRIPTION_NOT_CANCELED",
                        "CUSTOMER_PHASE_NOT_FOUND",
                        "CURRENCY_MISMATCH",
                        "BILLING_INTERVAL_MISMATCH",
                        "ENTITLEMENT_NOT_FOUND",
                        "SUBSCRIPTION_NOT_FOUND",
                        "INVALID_ENTITLEMENT_TYPE",
                        "NO_ACTIVE_PHASE_FOUND"
                      ]
                    },
                    "featureType": {
                      "type": "string",
                      "enum": ["flat", "tier", "package", "usage"]
                    },
                    "cacheHit": {
                      "type": "boolean"
                    },
                    "remaining": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "usage": {
                      "type": "number"
                    },
                    "latency": {
                      "type": "number"
                    }
                  },
                  "required": ["allowed"]
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrForbidden"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrNotFound"
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrConflict"
                }
              }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrPreconditionFailed"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrTooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrInternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customerId}/getSubscription": {
      "get": {
        "operationId": "customers.getSubscription",
        "summary": "get subscription",
        "description": "Get subscription with the active phase for a customer",
        "tags": ["customer"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The customer ID",
              "example": "cus_1H7KQFLr7RepUyQBKdnvY"
            },
            "required": true,
            "name": "customerId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the get subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "maxLength": 36
                    },
                    "projectId": {
                      "type": "string",
                      "maxLength": 36
                    },
                    "createdAtM": {
                      "type": "number"
                    },
                    "updatedAtM": {
                      "type": "number"
                    },
                    "customerId": {
                      "type": "string",
                      "maxLength": 36
                    },
                    "status": {
                      "type": "string",
                      "enum": ["active", "trialing", "canceled", "expired", "past_due"]
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "planSlug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "currentCycleStartAt": {
                      "type": "number"
                    },
                    "currentCycleEndAt": {
                      "type": "number"
                    },
                    "renewAt": {
                      "type": "number",
                      "nullable": true
                    },
                    "endAt": {
                      "type": "number",
                      "nullable": true
                    },
                    "timezone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "metadata": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "reason": {
                          "type": "string",
                          "enum": [
                            "payment_failed",
                            "invoice_voided",
                            "payment_pending",
                            "payment_method_not_found",
                            "policy_violation",
                            "pending_cancellation",
                            "invoice_failed",
                            "invoice_pending",
                            "payment_received",
                            "pending_change",
                            "pending_expiration",
                            "trial_ended",
                            "user_requested",
                            "admin_requested",
                            "ending",
                            "renewed",
                            "cancelled",
                            "auto_renew_disabled",
                            "customer_signout",
                            "generate_billing_periods_failed"
                          ],
                          "description": "Reason for the subscription status"
                        },
                        "note": {
                          "type": "string",
                          "description": "Note about status in the subscription"
                        },
                        "dates": {
                          "type": "object",
                          "properties": {
                            "lastChangeAt": {
                              "type": "number",
                              "description": "Date of the last change"
                            },
                            "cancelAt": {
                              "type": "number",
                              "description": "Date of the cancellation"
                            }
                          },
                          "description": "Important dates for the subscription"
                        }
                      }
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        }
                      },
                      "required": ["enabled"]
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean"
                        }
                      },
                      "required": ["active"]
                    },
                    "activePhase": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 36
                        },
                        "projectId": {
                          "type": "string",
                          "maxLength": 36
                        },
                        "createdAtM": {
                          "type": "number"
                        },
                        "updatedAtM": {
                          "type": "number"
                        },
                        "subscriptionId": {
                          "type": "string",
                          "maxLength": 36
                        },
                        "planVersionId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "paymentMethodId": {
                          "type": "string",
                          "nullable": true
                        },
                        "trialUnits": {
                          "type": "integer",
                          "nullable": true,
                          "minimum": 0,
                          "default": 0
                        },
                        "billingAnchor": {
                          "type": "number"
                        },
                        "trialEndsAt": {
                          "type": "number",
                          "nullable": true
                        },
                        "startAt": {
                          "type": "number"
                        },
                        "endAt": {
                          "type": "number",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "note": {
                              "type": "string",
                              "description": "Note about the subscription phase"
                            },
                            "reason": {
                              "type": "string",
                              "enum": [
                                "payment_failed",
                                "invoice_voided",
                                "payment_pending",
                                "payment_method_not_found",
                                "policy_violation",
                                "pending_cancellation",
                                "invoice_failed",
                                "invoice_pending",
                                "payment_received",
                                "pending_change",
                                "pending_expiration",
                                "trial_ended",
                                "user_requested",
                                "admin_requested",
                                "ending",
                                "renewed",
                                "cancelled",
                                "auto_renew_disabled",
                                "customer_signout",
                                "generate_billing_periods_failed"
                              ],
                              "description": "Reason for the subscription phase"
                            }
                          }
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "maxLength": 36
                              },
                              "projectId": {
                                "type": "string",
                                "maxLength": 36
                              },
                              "createdAtM": {
                                "type": "number"
                              },
                              "updatedAtM": {
                                "type": "number"
                              },
                              "units": {
                                "type": "number",
                                "nullable": true
                              },
                              "featurePlanVersionId": {
                                "type": "string",
                                "maxLength": 36
                              },
                              "subscriptionPhaseId": {
                                "type": "string",
                                "maxLength": 36
                              },
                              "subscriptionId": {
                                "type": "string",
                                "maxLength": 36
                              }
                            },
                            "required": [
                              "id",
                              "projectId",
                              "createdAtM",
                              "updatedAtM",
                              "units",
                              "featurePlanVersionId",
                              "subscriptionPhaseId",
                              "subscriptionId"
                            ]
                          }
                        },
                        "planVersion": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "maxLength": 36
                            },
                            "projectId": {
                              "type": "string",
                              "maxLength": 36
                            },
                            "createdAtM": {
                              "type": "number"
                            },
                            "updatedAtM": {
                              "type": "number"
                            },
                            "planId": {
                              "type": "string",
                              "maxLength": 36
                            },
                            "description": {
                              "type": "string"
                            },
                            "latest": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "title": {
                              "type": "string",
                              "maxLength": 50
                            },
                            "tags": {
                              "type": "array",
                              "nullable": true,
                              "items": {
                                "type": "string"
                              }
                            },
                            "active": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "status": {
                              "type": "string",
                              "nullable": true,
                              "enum": ["draft", "published"]
                            },
                            "publishedAt": {
                              "type": "number",
                              "nullable": true
                            },
                            "publishedBy": {
                              "type": "string",
                              "nullable": true,
                              "maxLength": 36
                            },
                            "archived": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "archivedAt": {
                              "type": "number",
                              "nullable": true
                            },
                            "archivedBy": {
                              "type": "string",
                              "nullable": true,
                              "maxLength": 36
                            },
                            "paymentProvider": {
                              "type": "string",
                              "enum": ["stripe", "square"]
                            },
                            "dueBehaviour": {
                              "type": "string",
                              "enum": ["cancel", "downgrade"]
                            },
                            "currency": {
                              "type": "string",
                              "enum": ["USD", "EUR"]
                            },
                            "billingConfig": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "billingInterval": {
                                  "type": "string",
                                  "enum": ["month", "year", "week", "day", "minute", "onetime"]
                                },
                                "billingIntervalCount": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 60
                                },
                                "billingAnchor": {
                                  "anyOf": [
                                    {
                                      "type": "integer",
                                      "minimum": 1,
                                      "maximum": 31,
                                      "description": "Days of the month. Pick a number between 1 and 31, if the month has less days, it will be the last day of the month"
                                    },
                                    {
                                      "type": "string",
                                      "enum": ["dayOfCreation"],
                                      "description": "the day of the creation of the subscription as the billing anchor"
                                    }
                                  ]
                                },
                                "planType": {
                                  "type": "string",
                                  "enum": ["recurring", "onetime"]
                                }
                              },
                              "required": [
                                "name",
                                "billingInterval",
                                "billingIntervalCount",
                                "billingAnchor",
                                "planType"
                              ],
                              "description": "The billing configuration for the plan version"
                            },
                            "whenToBill": {
                              "type": "string",
                              "enum": ["pay_in_advance", "pay_in_arrear"]
                            },
                            "gracePeriod": {
                              "type": "number"
                            },
                            "collectionMethod": {
                              "type": "string",
                              "enum": ["charge_automatically", "send_invoice"]
                            },
                            "trialUnits": {
                              "type": "number"
                            },
                            "autoRenew": {
                              "type": "boolean"
                            },
                            "metadata": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "externalId": {
                                  "type": "string"
                                }
                              }
                            },
                            "paymentMethodRequired": {
                              "type": "boolean"
                            },
                            "version": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "id",
                            "projectId",
                            "createdAtM",
                            "updatedAtM",
                            "planId",
                            "description",
                            "latest",
                            "title",
                            "tags",
                            "active",
                            "status",
                            "publishedAt",
                            "publishedBy",
                            "archived",
                            "archivedAt",
                            "archivedBy",
                            "paymentProvider",
                            "dueBehaviour",
                            "currency",
                            "billingConfig",
                            "whenToBill",
                            "gracePeriod",
                            "collectionMethod",
                            "trialUnits",
                            "autoRenew",
                            "metadata",
                            "paymentMethodRequired",
                            "version"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "projectId",
                        "subscriptionId",
                        "planVersionId",
                        "paymentMethodId",
                        "billingAnchor",
                        "trialEndsAt",
                        "startAt",
                        "endAt",
                        "planVersion"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "projectId",
                    "createdAtM",
                    "updatedAtM",
                    "customerId",
                    "status",
                    "active",
                    "planSlug",
                    "currentCycleStartAt",
                    "currentCycleEndAt",
                    "renewAt",
                    "endAt",
                    "timezone",
                    "metadata",
                    "project",
                    "customer"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrForbidden"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrNotFound"
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrConflict"
                }
              }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrPreconditionFailed"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrTooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrInternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/{customerId}/getUsage": {
      "get": {
        "operationId": "customers.getUsage",
        "summary": "get usage",
        "description": "Get usage for a customer",
        "tags": ["customer"],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The customer ID",
              "example": "cus_1H7KQFLr7RepUyQBKdnvY"
            },
            "required": true,
            "name": "customerId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the get usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "planName": {
                      "type": "string"
                    },
                    "planDescription": {
                      "type": "string"
                    },
                    "billingPeriod": {
                      "type": "string"
                    },
                    "billingPeriodLabel": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "renewalDate": {
                      "type": "string"
                    },
                    "daysRemaining": {
                      "type": "number"
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "featureCount": {
                            "type": "number"
                          },
                          "features": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": ["flat"]
                                    },
                                    "typeLabel": {
                                      "type": "string"
                                    },
                                    "currency": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "string"
                                    },
                                    "enabled": {
                                      "type": "boolean"
                                    },
                                    "billing": {
                                      "type": "object",
                                      "properties": {
                                        "billingFrequencyLabel": {
                                          "type": "string"
                                        },
                                        "resetFrequencyLabel": {
                                          "type": "string"
                                        }
                                      },
                                      "required": ["billingFrequencyLabel", "resetFrequencyLabel"]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "type",
                                    "typeLabel",
                                    "currency",
                                    "price",
                                    "enabled",
                                    "billing"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": ["tiered"]
                                    },
                                    "typeLabel": {
                                      "type": "string"
                                    },
                                    "currency": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "string"
                                    },
                                    "billing": {
                                      "type": "object",
                                      "properties": {
                                        "billingFrequencyLabel": {
                                          "type": "string"
                                        },
                                        "resetFrequencyLabel": {
                                          "type": "string"
                                        }
                                      },
                                      "required": ["billingFrequencyLabel", "resetFrequencyLabel"]
                                    },
                                    "tieredDisplay": {
                                      "type": "object",
                                      "properties": {
                                        "currentUsage": {
                                          "type": "number"
                                        },
                                        "billableUsage": {
                                          "type": "number"
                                        },
                                        "unit": {
                                          "type": "string"
                                        },
                                        "freeAmount": {
                                          "type": "number"
                                        },
                                        "tiers": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "min": {
                                                "type": "number"
                                              },
                                              "max": {
                                                "type": "number",
                                                "nullable": true
                                              },
                                              "pricePerUnit": {
                                                "type": "number"
                                              },
                                              "label": {
                                                "type": "string"
                                              },
                                              "isActive": {
                                                "type": "boolean"
                                              }
                                            },
                                            "required": ["min", "max", "pricePerUnit", "isActive"]
                                          }
                                        },
                                        "currentTierLabel": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "currentUsage",
                                        "billableUsage",
                                        "unit",
                                        "freeAmount",
                                        "tiers"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "type",
                                    "typeLabel",
                                    "currency",
                                    "price",
                                    "billing",
                                    "tieredDisplay"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": ["usage"]
                                    },
                                    "typeLabel": {
                                      "type": "string"
                                    },
                                    "currency": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "string"
                                    },
                                    "billing": {
                                      "type": "object",
                                      "properties": {
                                        "billingFrequencyLabel": {
                                          "type": "string"
                                        },
                                        "resetFrequencyLabel": {
                                          "type": "string"
                                        }
                                      },
                                      "required": ["billingFrequencyLabel", "resetFrequencyLabel"]
                                    },
                                    "usageBar": {
                                      "type": "object",
                                      "properties": {
                                        "current": {
                                          "type": "number"
                                        },
                                        "included": {
                                          "type": "number"
                                        },
                                        "limit": {
                                          "type": "number"
                                        },
                                        "limitType": {
                                          "type": "string",
                                          "enum": ["hard", "soft", "none"]
                                        },
                                        "unit": {
                                          "type": "string"
                                        },
                                        "notifyThreshold": {
                                          "type": "number"
                                        },
                                        "overageStrategy": {
                                          "type": "string",
                                          "enum": ["none", "last-call", "always"]
                                        }
                                      },
                                      "required": ["current", "included", "limitType", "unit"]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "type",
                                    "typeLabel",
                                    "currency",
                                    "price",
                                    "billing",
                                    "usageBar"
                                  ]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": ["package"]
                                    },
                                    "typeLabel": {
                                      "type": "string"
                                    },
                                    "currency": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "string"
                                    },
                                    "billing": {
                                      "type": "object",
                                      "properties": {
                                        "billingFrequencyLabel": {
                                          "type": "string"
                                        },
                                        "resetFrequencyLabel": {
                                          "type": "string"
                                        }
                                      },
                                      "required": ["billingFrequencyLabel", "resetFrequencyLabel"]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "type",
                                    "typeLabel",
                                    "currency",
                                    "price",
                                    "billing"
                                  ]
                                }
                              ]
                            }
                          }
                        },
                        "required": ["id", "name", "featureCount", "features"]
                      }
                    },
                    "priceSummary": {
                      "type": "object",
                      "properties": {
                        "totalPrice": {
                          "type": "string"
                        },
                        "flatTotal": {
                          "type": "string"
                        },
                        "tieredTotal": {
                          "type": "string"
                        },
                        "packageTotal": {
                          "type": "string"
                        },
                        "usageTotal": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "totalPrice",
                        "flatTotal",
                        "tieredTotal",
                        "packageTotal",
                        "usageTotal"
                      ]
                    }
                  },
                  "required": [
                    "planName",
                    "billingPeriod",
                    "billingPeriodLabel",
                    "currency",
                    "groups",
                    "priceSummary"
                  ],
                  "description": "The current usage data for the customer"
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrForbidden"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrNotFound"
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrConflict"
                }
              }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrPreconditionFailed"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrTooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrInternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/getPaymentMethods": {
      "post": {
        "operationId": "customers.getPaymentMethods",
        "summary": "get payment methods",
        "description": "Get payment methods for a customer",
        "tags": ["customer"],
        "requestBody": {
          "description": "Body of the request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "The customer ID",
                    "example": "cus_1H7KQFLr7RepUyQBKdnvY"
                  },
                  "provider": {
                    "type": "string",
                    "enum": ["stripe", "square"],
                    "description": "The payment provider",
                    "example": "stripe"
                  }
                },
                "required": ["customerId", "provider"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the get payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "last4": {
                        "type": "string"
                      },
                      "expMonth": {
                        "type": "number"
                      },
                      "expYear": {
                        "type": "number"
                      },
                      "brand": {
                        "type": "string"
                      }
                    },
                    "required": ["id", "name"]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrForbidden"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrNotFound"
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrConflict"
                }
              }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrPreconditionFailed"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrTooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrInternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/signUp": {
      "post": {
        "operationId": "customers.signUp",
        "summary": "sign up",
        "description": "Sign up a customer for a project",
        "tags": ["customer"],
        "requestBody": {
          "description": "Body of the request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the customer",
                    "example": "John Doe"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "The timezone of the customer, if passed null the system will use the project timezone",
                    "example": "UTC"
                  },
                  "defaultCurrency": {
                    "type": "string",
                    "enum": ["USD", "EUR"],
                    "description": "The default currency of the customer, if passed null the system will use the project currency",
                    "example": "USD"
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "description": "The email of the customer",
                    "example": "test@example.com"
                  },
                  "billingInterval": {
                    "type": "string",
                    "enum": ["month", "year", "week", "day", "minute", "onetime"],
                    "description": "The billing interval of the customer to be used for the subscription. If plan version is provided, the billing interval will be the same as the plan version. If plan slug is provided, the billing interval will be the default billing interval of the plan.",
                    "example": "month"
                  },
                  "planSlug": {
                    "type": "string",
                    "description": "If the plan id is not provided, you can pass a plan slug and the system will intelligently pick the lastest plan for that slug and sign up the customer for it",
                    "example": "PRO"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "The session id of the customer. This is used to track conversion from pricing pages",
                    "example": "sess_1234567890"
                  },
                  "planVersionId": {
                    "type": "string",
                    "description": "The plan version the customer is signing up for",
                    "example": "pv_1234567890"
                  },
                  "config": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "featurePlanId": {
                          "type": "string",
                          "description": "The feature plan id of the item",
                          "example": "feature_plan_123"
                        },
                        "featureSlug": {
                          "type": "string",
                          "description": "The feature slug of the item",
                          "example": "feature_slug_123"
                        },
                        "isUsage": {
                          "type": "boolean",
                          "description": "if the item is a usage item",
                          "example": true
                        },
                        "units": {
                          "type": "number",
                          "minimum": 1,
                          "description": "units of the feature the user is subscribed to",
                          "example": 100
                        },
                        "min": {
                          "type": "number",
                          "nullable": true,
                          "description": "minimum units of the feature the user is subscribed to",
                          "example": 100
                        },
                        "limit": {
                          "type": "number",
                          "nullable": true,
                          "description": "limit of the feature the user is subscribed to",
                          "example": 100
                        }
                      },
                      "required": ["featurePlanId", "featureSlug"]
                    },
                    "description": "The configuration of the subscription items. This is required if your features are quantity based when the customer needs to set them. Pass as empty if you want the system to automatically set the units from the plan defaults.",
                    "example": [
                      {
                        "featurePlanId": "feature_plan_123",
                        "featureSlug": "feature_slug_123",
                        "isUsage": true,
                        "units": 100
                      }
                    ]
                  },
                  "externalId": {
                    "type": "string",
                    "description": "The external id you want to associate with the customer. Could be the id of the user in your database",
                    "example": "1234567890"
                  },
                  "successUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The success url if the customer signs up. This is the url after the signup process, normally your dashboard",
                    "example": "https://example.com/dashboard"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The cancel url if the customer cancels the signup. This is the url after the signup process, normally your login page",
                    "example": "https://example.com/login"
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "externalId": {
                        "type": "string"
                      },
                      "stripeSubscriptionId": {
                        "type": "string"
                      },
                      "stripeDefaultPaymentMethodId": {
                        "type": "string"
                      },
                      "continent": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "region": {
                        "type": "string"
                      },
                      "colo": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "isEUCountry": {
                        "type": "boolean",
                        "nullable": true
                      }
                    },
                    "description": "The metadata of the customer",
                    "example": {
                      "externalId": "1234567890"
                    }
                  }
                },
                "required": ["name", "email", "successUrl", "cancelUrl"],
                "description": "The customer sign up request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the customer sign up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the signup was successful",
                      "example": true
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "The url to redirect the customer to, either to the success or cancel url",
                      "example": "https://example.com/dashboard"
                    },
                    "customerId": {
                      "type": "string",
                      "description": "The unprice customer id generated by the system for this customer",
                      "example": "cus_1234567890"
                    }
                  },
                  "required": ["success", "url", "customerId"]
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrUnauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrForbidden"
                }
              }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrNotFound"
                }
              }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrConflict"
                }
              }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrPreconditionFailed"
                }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrTooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrInternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer/createPaymentMethod": {
      "post": {
        "operationId": "customers.createPaymentMethod",
        "summary": "create payment method",
        "description": "Create a payment method for a customer",
        "tags": ["customer"],
        "requestBody": {
          "description": "Body of the request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentProvider": {
                    "type": "string",
                    "enum": ["stripe", "square"],
                    "description": "The payment provider code to use",
                    "example": "stripe"
                  },
                  "customerId": {
                    "type": "string",
                    "description": "The unprice customer id generated by the system for this customer",
                    "example": "cus_1234567890"
                  },
                  "successUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The success url if the customer signs up",
                    "example": "https://example.com/dashboard"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The cancel url if the customer cancels the signup",
                    "example": "https://example.com/login"
                  }
                },
                "required": ["paymentProvider", "customerId", "successUrl", "cancelUrl"],
                "description": "The customer create payment method request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the customer create payment method",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the signup was successful",
                      "example": true
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "The url to redirect the customer to, either to the success or cancel url",
                      "example": "https://example.com/dashboard"
                    }
                  },
                  "required": ["success", "url"]
                }
              }
            }
          },
          "400": {
[...]
