{
  "openapi": "3.0.3",
  "info": { "title": "Unprice API", "version": "1.0.0" },
  "servers": [
    { "url": "https://api.unprice.dev", "description": "Production" },
    { "url": "http://localhost:8787", "description": "Development" },
    { "url": "https://preview-api.unprice.dev", "description": "Preview" }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 50,
      "maxInterval": 1000,
      "maxElapsedTime": 30000,
      "exponent": 1.5
    },
    "statusCodes": ["5XX"],
    "retryConnectionErrors": true
  },
  "security": [{ "bearerAuth": [] }],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "bearerFormat": "root key",
        "type": "http",
        "scheme": "bearer",
        "x-speakeasy-example": "UNPRICE_API_KEY"
      }
    },
    "schemas": {
      "ErrBadRequest": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["BAD_REQUEST"],
                "description": "A machine readable error code.",
                "example": "BAD_REQUEST"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/BAD_REQUEST"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrUnauthorized": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["UNAUTHORIZED"],
                "description": "A machine readable error code.",
                "example": "UNAUTHORIZED"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/UNAUTHORIZED"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrForbidden": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["FORBIDDEN"],
                "description": "A machine readable error code.",
                "example": "FORBIDDEN"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/FORBIDDEN"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrNotFound": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["NOT_FOUND"],
                "description": "A machine readable error code.",
                "example": "NOT_FOUND"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/NOT_FOUND"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrConflict": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["CONFLICT"],
                "description": "A machine readable error code.",
                "example": "CONFLICT"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/CONFLICT"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrPreconditionFailed": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["PRECONDITION_FAILED"],
                "description": "A machine readable error code.",
                "example": "PRECONDITION_FAILED"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/PRECONDITION_FAILED"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrTooManyRequests": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["TOO_MANY_REQUESTS"],
                "description": "A machine readable error code.",
                "example": "TOO_MANY_REQUESTS"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/TOO_MANY_REQUESTS"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      },
      "ErrInternalServerError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["INTERNAL_SERVER_ERROR"],
                "description": "A machine readable error code.",
                "example": "INTERNAL_SERVER_ERROR"
              },
              "docs": {
                "type": "string",
                "description": "A link to our documentation with more details about this error code",
                "example": "https://docs.unprice.dev/api-reference/errors/code/INTERNAL_SERVER_ERROR"
              },
              "message": {
                "type": "string",
                "description": "A human readable explanation of what went wrong"
              },
              "requestId": {
                "type": "string",
                "description": "Please always include the requestId in your error report",
                "example": "req_1234"
              }
            },
            "required": ["code", "docs", "message", "requestId"]
          }
        },
        "required": ["error"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/access/update": {
      "post": {
        "operationId": "access.update",
        "summary": "update ACL",
        "description": "Update the ACL for a customer",
        "tags": ["access"],
        "requestBody": {
          "description": "The updates to the ACL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "The customer ID",
                    "example": "cus_1H7KQFLr7RepUyQBKdnvY"
                  },
                  "updates": {
                    "type": "object",
                    "properties": {
                      "customerUsageLimitReached": { "type": "boolean" },
                      "customerDisabled": { "type": "boolean" },
                      "subscriptionStatus": {
                        "type": "string",
                        "enum": [
                          "active",
                          "trialing",
                          "pending_payment",
                          "pending_activation",
                          "canceled",
                          "expired",
                          "past_due"
                        ]
                      }
                    }
                  }
                },
                "required": ["customerId", "updates"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the update ACL",
            "content": { "application/json": { "schema": { "type": "object", "properties": {} } } }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrBadRequest" } }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrUnauthorized" } }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrForbidden" } }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrNotFound" } }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrConflict" } }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrPreconditionFailed" }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrTooManyRequests" }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrInternalServerError" }
              }
            }
          }
        }
      }
    },
    "/v1/customers/sign-up": {
      "post": {
        "operationId": "customers.signUp",
        "summary": "sign up",
        "description": "Sign up a customer for a project",
        "tags": ["customers"],
        "requestBody": {
          "description": "Body of the request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The name of the customer",
                    "example": "John Doe"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "The timezone of the customer, if passed null the system will use the project timezone",
                    "example": "UTC"
                  },
                  "defaultCurrency": {
                    "type": "string",
                    "enum": ["USD", "EUR"],
                    "description": "The default currency of the customer, if passed null the system will use the project currency",
                    "example": "USD"
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "description": "The email of the customer",
                    "example": "test@example.com"
                  },
                  "billingInterval": {
                    "type": "string",
                    "enum": ["month", "year", "week", "day", "minute", "onetime"],
                    "description": "The billing interval of the customer to be used for the subscription. If plan version is provided, the billing interval will be the same as the plan version. If plan slug is provided, the billing interval will be the default billing interval of the plan.",
                    "example": "month"
                  },
                  "planSlug": {
                    "type": "string",
                    "description": "If the plan id is not provided, you can pass a plan slug and the system will intelligently pick the lastest plan for that slug and sign up the customer for it",
                    "example": "PRO"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "The session id of the customer. This is used to track conversion from pricing pages",
                    "example": "sess_1234567890"
                  },
                  "planVersionId": {
                    "type": "string",
                    "description": "The plan version the customer is signing up for",
                    "example": "pv_1234567890"
                  },
                  "config": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "featurePlanId": {
                          "type": "string",
                          "description": "The feature plan id of the item",
                          "example": "feature_plan_123"
                        },
                        "featureSlug": {
                          "type": "string",
                          "description": "The feature slug of the item",
                          "example": "feature_slug_123"
                        },
                        "isUsage": {
                          "type": "boolean",
                          "description": "if the item is a usage item",
                          "example": true
                        },
                        "units": {
                          "type": "number",
                          "minimum": 1,
                          "description": "units of the feature the user is subscribed to",
                          "example": 100
                        },
                        "min": {
                          "type": "number",
                          "nullable": true,
                          "description": "minimum units of the feature the user is subscribed to",
                          "example": 100
                        },
                        "limit": {
                          "type": "number",
                          "nullable": true,
                          "description": "limit of the feature the user is subscribed to",
                          "example": 100
                        }
                      },
                      "required": ["featurePlanId", "featureSlug"]
                    },
                    "description": "The configuration of the subscription items. This is required if your features are quantity based when the customer needs to set them. Pass as empty if you want the system to automatically set the units from the plan defaults.",
                    "example": [
                      {
                        "featurePlanId": "feature_plan_123",
                        "featureSlug": "feature_slug_123",
                        "isUsage": true,
                        "units": 100
                      }
                    ]
                  },
                  "creditLinePolicy": {
                    "type": "string",
                    "enum": ["capped", "uncapped"],
                    "default": "uncapped",
                    "description": "Usage credit policy for the initial subscription phase. Uncapped allows postpaid usage without wallet reservation; capped uses a finite credit amount or derives one from finite usage limits.",
                    "example": "uncapped"
                  },
                  "creditLineAmount": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 0,
                    "description": "Optional capped usage credit amount as a ledger-scale minor-unit integer. Leave null or omit to derive from finite usage limits when creditLinePolicy is capped.",
                    "example": 10000000000
                  },
                  "externalId": {
                    "type": "string",
                    "description": "The external id you want to associate with the customer. Could be the id of the user in your database",
                    "example": "1234567890"
                  },
                  "successUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The success url if the customer signs up. This is the url after the signup process, normally your dashboard",
                    "example": "https://example.com/dashboard"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "The cancel url if the customer cancels the signup. This is the url after the signup process, normally your login page",
                    "example": "https://example.com/login"
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "country": { "type": "string" },
                      "region": { "type": "string" },
                      "city": { "type": "string" }
                    },
                    "description": "The metadata of the customer, very important to pass geolocation data if you want to segment later on",
                    "example": { "country": "US", "region": "CA", "city": "San Francisco" }
                  }
                },
                "required": ["name", "email", "successUrl", "cancelUrl"],
                "description": "The customer sign up request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the customer sign up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the signup was successful",
                      "example": true
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "The url to redirect the customer to, either to the success or cancel url",
                      "example": "https://example.com/dashboard"
                    },
                    "customerId": {
                      "type": "string",
                      "description": "The unprice customer id generated by the system for this customer",
                      "example": "cus_1234567890"
                    }
                  },
                  "required": ["success", "url", "customerId"]
                }
              }
            }
          },
          "400": {
            "description": "The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrBadRequest" } }
            }
          },
          "401": {
            "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrUnauthorized" } }
            }
          },
          "403": {
            "description": "The client does not have access rights to the content; that is, it is unauthorized, so the server is refusing to give the requested resource. Unlike 401 Unauthorized, the client's identity is known to the server.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrForbidden" } }
            }
          },
          "404": {
            "description": "The server cannot find the requested resource. In the browser, this means the URL is not recognized. In an API, this can also mean that the endpoint is valid but the resource itself does not exist. Servers may also send this response instead of 403 Forbidden to hide the existence of a resource from an unauthorized client. This response code is probably the most well known due to its frequent occurrence on the web.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrNotFound" } }
            }
          },
          "409": {
            "description": "This response is sent when a request conflicts with the current state of the server.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrConflict" } }
            }
          },
          "412": {
            "description": "The requested operation cannot be completed because certain conditions were not met. This typically occurs when a required resource state or version check fails.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrPreconditionFailed" }
              }
            }
          },
          "429": {
            "description": "The user has sent too many requests in a given amount of time (\"rate limiting\")",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrTooManyRequests" }
              }
            }
          },
          "500": {
            "description": "The server has encountered a situation it does not know how to handle.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrInternalServerError" }
              }
            }
          }
        }
      }
    },
    "/v1/entitlements/get": {
      "post": {
        "operationId": "entitlements.get",
        "summary": "get customer entitlements",
        "description": "Get active customer entitlements with their grants",
        "tags": ["entitlements"],
        "requestBody": {
          "description": "Body of the request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerId": {
                    "type": "string",
                    "description": "The customer ID",
                    "example": "cus_1H7KQFLr7RepUyQBKdnvY"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The project ID",
                    "example": "prj_1H7KQFLr7RepUyQBKdnvY"
                  }
                },
                "required": ["customerId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the get customer entitlements",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string", "maxLength": 36 },
                      "projectId": { "type": "string", "maxLength": 36 },
                      "createdAtM": { "type": "number" },
                      "updatedAtM": { "type": "number" },
                      "customerId": { "type": "string", "maxLength": 36 },
                      "featurePlanVersionId": { "type": "string", "maxLength": 36 },
                      "subscriptionId": { "type": "string", "nullable": true, "maxLength": 36 },
                      "subscriptionPhaseId": {
                        "type": "string",
                        "nullable": true,
                        "maxLength": 36
                      },
                      "subscriptionItemId": { "type": "string", "nullable": true, "maxLength": 36 },
                      "effectiveAt": { "type": "number" },
                      "expiresAt": { "type": "number", "nullable": true },
                      "overageStrategy": {
                        "type": "string",
                        "enum": ["none", "last-call", "always"]
                      },
                      "metadata": {
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": {
                          "anyOf": [
                            { "type": "string" },
                            { "type": "number" },
                            { "type": "boolean" },
                            { "nullable": true },
                            { "nullable": true }
                          ]
                        }
                      },
                      "featurePlanVersion": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "maxLength": 36 },
                          "projectId": { "type": "string", "maxLength": 36 },
                          "createdAtM": { "type": "number" },
                          "updatedAtM": { "type": "number" },
                          "planVersionId": { "type": "string", "maxLength": 36 },
                          "type": { "type": "string", "enum": ["feature", "addon"] },
                          "featureId": { "type": "string", "maxLength": 36 },
                          "featureType": {
                            "type": "string",
                            "enum": ["flat", "tier", "package", "usage"],
                            "description": "The pricing model type: 'flat' (fixed price), 'tier' (volume-based tiers), 'usage' (pay-as-you-go), or 'package' (bundle pricing)"
                          },
                          "unitOfMeasure": {
                            "type": "string",
                            "description": "Unit of measurement captured for this plan version feature. Used for display and billing context without relying on mutable feature definitions"
                          },
                          "config": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "tiers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "unitPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Price charged per unit within this tier. Example: $0.10 per API call in the 1-1000 calls tier"
                                        },
                                        "flatPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Fixed price charged for entering this tier, regardless of units consumed. Example: $50 base fee for the 'Pro' tier"
                                        },
                                        "firstUnit": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "The starting unit number for this tier (inclusive). Must be 1 for the first tier, and consecutive with previous tier's lastUnit + 1 for subsequent tiers"
                                        },
                                        "lastUnit": {
                                          "type": "integer",
                                          "nullable": true,
                                          "minimum": 1,
                                          "description": "The ending unit number for this tier (inclusive). Set to null for the final tier to indicate unlimited. Example: 1000 means this tier covers up to 1000 units"
                                        },
                                        "label": {
                                          "type": "string",
                                          "description": "Display name for this tier shown in pricing UI. Examples: 'Starter', 'Growth', 'Enterprise', '1-100 units'"
                                        }
                                      },
                                      "required": [
                                        "unitPrice",
                                        "flatPrice",
                                        "firstUnit",
                                        "lastUnit"
                                      ],
                                      "description": "Configuration for a single pricing tier defining unit ranges and associated pricing"
                                    },
                                    "description": "Not used for flat pricing. Will be removed during validation"
                                  },
                                  "price": {
                                    "type": "object",
                                    "properties": {
                                      "dinero": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                          },
                                          "currency": {
                                            "type": "object",
                                            "properties": {
                                              "code": {
                                                "type": "string",
                                                "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                              },
                                              "base": {
                                                "anyOf": [
                                                  { "type": "number" },
                                                  { "type": "array", "items": { "type": "number" } }
                                                ],
                                                "description": "The base of the currency system. Usually 10 for decimal currencies"
                                              },
                                              "exponent": {
                                                "type": "number",
                                                "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                              }
                                            },
                                            "required": ["code", "base", "exponent"],
                                            "description": "Currency configuration following ISO 4217 standards"
                                          },
                                          "scale": {
                                            "type": "number",
                                            "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                          }
                                        },
                                        "required": ["amount", "currency", "scale"],
                                        "description": "The internal Dinero.js representation of the price for precise calculations"
                                      },
                                      "displayAmount": {
                                        "type": "string",
                                        "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                        "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                      }
                                    },
                                    "required": ["dinero", "displayAmount"],
                                    "description": "The fixed price for this feature. This is the single price charged regardless of usage"
                                  },
                                  "usageMode": {
                                    "type": "string",
                                    "enum": ["tier", "package", "unit"],
                                    "description": "Not used for flat pricing. Will be removed during validation"
                                  },
                                  "tierMode": {
                                    "type": "string",
                                    "enum": ["volume", "graduated"],
                                    "description": "Not used for flat pricing. Will be removed during validation"
                                  },
                                  "units": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Not used for flat pricing. Will be removed during validation"
                                  }
                                },
                                "required": ["price"],
                                "description": "Configuration for flat-rate pricing where a single fixed price is charged regardless of consumption"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "object",
                                    "properties": {
                                      "dinero": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                          },
                                          "currency": {
                                            "type": "object",
                                            "properties": {
                                              "code": {
                                                "type": "string",
                                                "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                              },
                                              "base": {
                                                "anyOf": [
                                                  { "type": "number" },
                                                  { "type": "array", "items": { "type": "number" } }
                                                ],
                                                "description": "The base of the currency system. Usually 10 for decimal currencies"
                                              },
                                              "exponent": {
                                                "type": "number",
                                                "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                              }
                                            },
                                            "required": ["code", "base", "exponent"],
                                            "description": "Currency configuration following ISO 4217 standards"
                                          },
                                          "scale": {
                                            "type": "number",
                                            "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                          }
                                        },
                                        "required": ["amount", "currency", "scale"],
                                        "description": "The internal Dinero.js representation of the price for precise calculations"
                                      },
                                      "displayAmount": {
                                        "type": "string",
                                        "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                        "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                      }
                                    },
                                    "required": ["dinero", "displayAmount"],
                                    "description": "Base price for the feature. Not typically used in tier pricing mode"
                                  },
                                  "tierMode": {
                                    "type": "string",
                                    "enum": ["volume", "graduated"],
                                    "description": "How tier pricing is calculated: 'volume' (all units priced at the tier they fall into) or 'graduated' (each unit priced at its respective tier)"
                                  },
                                  "tiers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "unitPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Price charged per unit within this tier. Example: $0.10 per API call in the 1-1000 calls tier"
                                        },
                                        "flatPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Fixed price charged for entering this tier, regardless of units consumed. Example: $50 base fee for the 'Pro' tier"
                                        },
                                        "firstUnit": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "The starting unit number for this tier (inclusive). Must be 1 for the first tier, and consecutive with previous tier's lastUnit + 1 for subsequent tiers"
                                        },
                                        "lastUnit": {
                                          "type": "integer",
                                          "nullable": true,
                                          "minimum": 1,
                                          "description": "The ending unit number for this tier (inclusive). Set to null for the final tier to indicate unlimited. Example: 1000 means this tier covers up to 1000 units"
                                        },
                                        "label": {
                                          "type": "string",
                                          "description": "Display name for this tier shown in pricing UI. Examples: 'Starter', 'Growth', 'Enterprise', '1-100 units'"
                                        }
                                      },
                                      "required": [
                                        "unitPrice",
                                        "flatPrice",
                                        "firstUnit",
                                        "lastUnit"
                                      ],
                                      "description": "Configuration for a single pricing tier defining unit ranges and associated pricing"
                                    },
                                    "description": "Array of pricing tiers defining price brackets. Tiers must be consecutive (no gaps or overlaps). The last tier's lastUnit should be null for unlimited"
                                  },
                                  "usageMode": {
                                    "type": "string",
                                    "enum": ["tier", "package", "unit"],
                                    "description": "Usage calculation mode. Not typically used in tier-type features"
                                  },
                                  "units": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Number of units included. Not typically used in tier-type features"
                                  }
                                },
                                "required": ["tierMode", "tiers"],
                                "description": "Configuration for tier-based pricing where different price rates apply to different volume ranges"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "price": {
                                    "type": "object",
                                    "properties": {
                                      "dinero": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                          },
                                          "currency": {
                                            "type": "object",
                                            "properties": {
                                              "code": {
                                                "type": "string",
                                                "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                              },
                                              "base": {
                                                "anyOf": [
                                                  { "type": "number" },
                                                  { "type": "array", "items": { "type": "number" } }
                                                ],
                                                "description": "The base of the currency system. Usually 10 for decimal currencies"
                                              },
                                              "exponent": {
                                                "type": "number",
                                                "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                              }
                                            },
                                            "required": ["code", "base", "exponent"],
                                            "description": "Currency configuration following ISO 4217 standards"
                                          },
                                          "scale": {
                                            "type": "number",
                                            "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                          }
                                        },
                                        "required": ["amount", "currency", "scale"],
                                        "description": "The internal Dinero.js representation of the price for precise calculations"
                                      },
                                      "displayAmount": {
                                        "type": "string",
                                        "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                        "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                      }
                                    },
                                    "required": ["dinero", "displayAmount"],
                                    "description": "Price per unit when usageMode is 'unit' or 'package'. Required for unit/package modes, not used for tier mode"
                                  },
                                  "usageMode": {
                                    "type": "string",
                                    "enum": ["tier", "package", "unit"],
                                    "description": "How usage is calculated and billed: 'unit' (per-unit pricing), 'tier' (volume-based tiers), or 'package' (bundle of units)"
                                  },
                                  "tierMode": {
                                    "type": "string",
                                    "enum": ["volume", "graduated"],
                                    "description": "Tier calculation method when usageMode is 'tier': 'volume' or 'graduated'. Only applicable when usageMode is 'tier'"
                                  },
                                  "tiers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "unitPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Price charged per unit within this tier. Example: $0.10 per API call in the 1-1000 calls tier"
                                        },
                                        "flatPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Fixed price charged for entering this tier, regardless of units consumed. Example: $50 base fee for the 'Pro' tier"
                                        },
                                        "firstUnit": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "The starting unit number for this tier (inclusive). Must be 1 for the first tier, and consecutive with previous tier's lastUnit + 1 for subsequent tiers"
                                        },
                                        "lastUnit": {
                                          "type": "integer",
                                          "nullable": true,
                                          "minimum": 1,
                                          "description": "The ending unit number for this tier (inclusive). Set to null for the final tier to indicate unlimited. Example: 1000 means this tier covers up to 1000 units"
                                        },
                                        "label": {
                                          "type": "string",
                                          "description": "Display name for this tier shown in pricing UI. Examples: 'Starter', 'Growth', 'Enterprise', '1-100 units'"
                                        }
                                      },
                                      "required": [
                                        "unitPrice",
                                        "flatPrice",
                                        "firstUnit",
                                        "lastUnit"
                                      ],
                                      "description": "Configuration for a single pricing tier defining unit ranges and associated pricing"
                                    },
                                    "description": "Pricing tiers for tier-based usage. Required when usageMode is 'tier'. Must be consecutive with no gaps"
                                  },
                                  "units": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Number of units in a package when usageMode is 'package'. Required for package mode. Example: 100 API calls per package"
                                  }
                                },
                                "required": ["usageMode"],
                                "description": "Configuration for usage-based (pay-as-you-go) pricing with support for per-unit, tiered, or package billing"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "tiers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "unitPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Price charged per unit within this tier. Example: $0.10 per API call in the 1-1000 calls tier"
                                        },
                                        "flatPrice": {
                                          "type": "object",
                                          "properties": {
                                            "dinero": {
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "type": "number",
                                                  "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                                },
                                                "currency": {
                                                  "type": "object",
                                                  "properties": {
                                                    "code": {
                                                      "type": "string",
                                                      "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                                    },
                                                    "base": {
                                                      "anyOf": [
                                                        { "type": "number" },
                                                        {
                                                          "type": "array",
                                                          "items": { "type": "number" }
                                                        }
                                                      ],
                                                      "description": "The base of the currency system. Usually 10 for decimal currencies"
                                                    },
                                                    "exponent": {
                                                      "type": "number",
                                                      "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                                    }
                                                  },
                                                  "required": ["code", "base", "exponent"],
                                                  "description": "Currency configuration following ISO 4217 standards"
                                                },
                                                "scale": {
                                                  "type": "number",
                                                  "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                                }
                                              },
                                              "required": ["amount", "currency", "scale"],
                                              "description": "The internal Dinero.js representation of the price for precise calculations"
                                            },
                                            "displayAmount": {
                                              "type": "string",
                                              "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                              "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                            }
                                          },
                                          "required": ["dinero", "displayAmount"],
                                          "description": "Fixed price charged for entering this tier, regardless of units consumed. Example: $50 base fee for the 'Pro' tier"
                                        },
                                        "firstUnit": {
                                          "type": "integer",
                                          "minimum": 1,
                                          "description": "The starting unit number for this tier (inclusive). Must be 1 for the first tier, and consecutive with previous tier's lastUnit + 1 for subsequent tiers"
                                        },
                                        "lastUnit": {
                                          "type": "integer",
                                          "nullable": true,
                                          "minimum": 1,
                                          "description": "The ending unit number for this tier (inclusive). Set to null for the final tier to indicate unlimited. Example: 1000 means this tier covers up to 1000 units"
                                        },
                                        "label": {
                                          "type": "string",
                                          "description": "Display name for this tier shown in pricing UI. Examples: 'Starter', 'Growth', 'Enterprise', '1-100 units'"
                                        }
                                      },
                                      "required": [
                                        "unitPrice",
                                        "flatPrice",
                                        "firstUnit",
                                        "lastUnit"
                                      ],
                                      "description": "Configuration for a single pricing tier defining unit ranges and associated pricing"
                                    },
                                    "description": "Not used for package pricing. Will be removed during validation"
                                  },
                                  "price": {
                                    "type": "object",
                                    "properties": {
                                      "dinero": {
                                        "type": "object",
                                        "properties": {
                                          "amount": {
                                            "type": "number",
                                            "description": "The monetary amount in the smallest currency unit (e.g., cents for USD). Example: 999 represents $9.99"
                                          },
                                          "currency": {
                                            "type": "object",
                                            "properties": {
                                              "code": {
                                                "type": "string",
                                                "description": "ISO 4217 currency code. Examples: 'USD', 'EUR', 'GBP'"
                                              },
                                              "base": {
                                                "anyOf": [
                                                  { "type": "number" },
                                                  { "type": "array", "items": { "type": "number" } }
                                                ],
                                                "description": "The base of the currency system. Usually 10 for decimal currencies"
                                              },
                                              "exponent": {
                                                "type": "number",
                                                "description": "Number of decimal places for the currency. Example: 2 for USD (cents), 0 for JPY"
                                              }
                                            },
                                            "required": ["code", "base", "exponent"],
                                            "description": "Currency configuration following ISO 4217 standards"
                                          },
                                          "scale": {
                                            "type": "number",
                                            "description": "The precision scale for the monetary value. Determines how many decimal places are stored"
                                          }
                                        },
                                        "required": ["amount", "currency", "scale"],
                                        "description": "The internal Dinero.js representation of the price for precise calculations"
                                      },
                                      "displayAmount": {
                                        "type": "string",
                                        "pattern": "^\\d{1,8}(\\.\\d{1,8})?$",
                                        "description": "Human-readable price value as a decimal string. This is the value users see and input. Example: '9.99'"
                                      }
                                    },
                                    "required": ["dinero", "displayAmount"],
                                    "description": "The price per package. Example: $10 per package of 100 API calls"
                                  },
                                  "usageMode": {
                                    "type": "string",
                                    "enum": ["tier", "package", "unit"],
                                    "description": "Not used for package pricing. Will be removed during validation"
                                  },
                                  "tierMode": {
                                    "type": "string",
                                    "enum": ["volume", "graduated"],
                                    "description": "Not used for package pricing. Will be removed during validation"
                                  },
                                  "units": {
                                    "type": "integer",
                                    "minimum": 1,
                                    "description": "Number of units included in each package. Required. Example: 100 means each package includes 100 units"
                                  }
                                },
                                "required": ["price", "units"],
                                "description": "Configuration for package pricing where customers purchase bundles of units at a fixed price per bundle"
                              }
                            ],
                            "description": "Pricing configuration for this feature. Structure depends on featureType"
                          },
                          "billingConfig": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string", "minLength": 1 },
                              "billingInterval": {
                                "type": "string",
                                "enum": ["month", "year", "week", "day", "minute", "onetime"]
                              },
                              "billingIntervalCount": {
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 60
                              },
                              "billingAnchor": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 31,
                                    "description": "Days of the month. Pick a number between 1 and 31, if the month has less days, it will be the last day of the month"
                                  },
                                  {
                                    "type": "string",
                                    "enum": ["dayOfCreation"],
                                    "description": "the day of the creation of the subscription as the billing anchor"
                                  }
                                ]
                              },
                              "planType": { "type": "string", "enum": ["recurring", "onetime"] }
                            },
                            "required": [
                              "name",
                              "billingInterval",
                              "billingIntervalCount",
                              "billingAnchor",
                              "planType"
                            ],
                            "description": "Billing cycle configuration including interval (month/year), billing anchor date, and plan type (recurring/onetime)"
                          },
                          "resetConfig": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "name": { "type": "string", "minLength": 1 },
                              "resetInterval": {
                                "type": "string",
                                "enum": ["month", "year", "week", "day", "minute", "onetime"]
                              },
                              "resetIntervalCount": {
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 60
                              },
                              "resetAnchor": {
                                "anyOf": [
                                  {
                                    "type": "integer",
                                    "minimum": 1,
                                    "maximum": 31,
                                    "description": "Days of the month. Pick a number between 1 and 31, if the month has less days, it will be the last day of the month"
                                  },
                                  {
                                    "type": "string",
                                    "enum": ["dayOfCreation"],
                                    "description": "the day of the creation of the subscription as the billing anchor"
                                  }
                                ]
                              },
                              "planType": { "type": "string", "enum": ["recurring", "onetime"] }
                            },
                            "required": [
                              "name",
                              "resetInterval",
                              "resetIntervalCount",
                              "resetAnchor",
                              "planType"
                            ],
                            "description": "Configuration for resetting usage counters. Defines when and how usage limits reset (e.g., monthly, yearly)"
                          },
                          "metadata": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "realtime": {
                                "type": "boolean",
                                "default": false,
                                "description": "Whether usage should be tracked and verified in real-time. When true, usage checks happen synchronously. Default: false"
                              },
                              "notifyUsageThreshold": {
                                "type": "integer",
                                "default": 95,
                                "description": "Percentage threshold (0-100) at which to notify the customer about approaching usage limits. Default: 95 (notify at 95% usage)"
                              },
                              "overageStrategy": {
                                "type": "string",
                                "enum": ["none", "last-call", "always"],
                                "default": "none",
                                "description": "How to handle usage that exceeds the feature limit. Options: 'none' (strict deny), 'last-call' (allow one final call while tokens remain), 'always' (allow and record overage)"
                              },
                              "blockCustomer": {
                                "type": "boolean",
                                "default": false,
                                "description": "Whether to completely block the customer when they exceed their limit. When true, access is denied until the next billing period. Default: false"
                              },
                              "hidden": {
                                "type": "boolean",
                                "default": false,
                                "description": "Whether to hide this feature from customer-facing displays like pricing pages. Useful for internal or technical features. Default: false"
                              }
                            },
                            "description": "Additional feature settings including real-time tracking, notifications, and visibility options"
                          },
                          "order": { "type": "number" },
                          "defaultQuantity": {
                            "type": "integer",
                            "nullable": true,
                            "default": 1,
                            "description": "Default quantity of this feature included when a customer subscribes. Example: 5 for '5 team members included'. Default: 1"
                          },
                          "limit": {
                            "type": "integer",
                            "nullable": true,
[...]
