TINYBIRD_TOKEN=
TINYBIRD_URL=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
DATABASE_URL=
LAKEHOUSE_API_TOKEN=
DATABASE_READ1_URL=
DATABASE_READ2_URL=
ENCRYPTION_KEY=
AUTH_SECRET=
DRIZZLE_LOG=
APP_ENV=
NODE_ENV=
AXIOM_API_TOKEN=
AXIOM_DATASET=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UNPRICE_API_KEY=
UNPRICE_API_URL=
